.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(38, 38, 38),rgba(38, 38, 38,0));
}

.modal {
    margin: 2rem;
    background: #d9d9d9;
    width: 600px;
    height: auto;
    border-radius: .5rem;
    padding: 1rem 2rem;
}

.header {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0rem;
}

    .header a {
        font-size: 1.2rem;
        color: #fa7e1e;
        border: 1px solid #fa7e1e;
        border-radius: 0.5rem;
        padding: .1rem .6rem;
        font-weight: 600;
    }

        .header a:hover {
            background-color: #333333;
            color: #fff;
            font-weight: 700;
            border: 1px solid #333333;
            text-decoration: none;
        }
